body{
    background-color: rgb(156, 156, 156);
}

.cadre{
    background-color: black;
    color: white;
    height: 200px;
    position: fixed;
}
div{
    height: 1500px;
}
ul{
    background-color: blue;
    padding: 60px;
    position: absolute;
    left: -500px;
    border-radius: 300px;
    border: 3px solid white;
    display: flex;
    list-style: none;
    text-align: center;
}
ul li{
    padding: 5px;
    font-size: 30px;
    color: white;
}
ul li a{
    padding: 5px;
    font-size: 30px;
    color: white;
}
.burger{
    float: right;
    
}
.open{
    position: absolute;
    right:  0;
    height: 100px;
}