<%- include('header') %>
  <% if (messages.error_msg) { %>
    <p><%= messages.error_msg %></p>
  <% } %>

  <% if (messages.success_msg) { %>
    <p><%= messages.success_msg %></p>
  <% } %>

  <p>Bienvenue sur votre tableau de bord !</p>
  <p>Contenu et fonctionnalités spécifiques à afficher ici.</p>

  <a href="/logout">Déconnexion</a>

    <h1>Bienvenue, <%= username %></h1>


</body>
</html>
