<%- include('header') %>

 
<div class="articleBox">
  
   <ul class="article">
    <h1>Liste des post-its : </h1>
    <% if (articles && articles.length > 0) { %>
      <% articles.forEach(function(article) { %>
        <li>
          <h2><%= article.title %></h2>
          <a href="/articles/<%= article._id %>">Lire la suite</a>
        </li>
      <% }); %>
    <% } else { %>
      <li>Aucun post-it trouvé</li>
    <% } %>
  </ul>     
  </div>




