<h1><%= article.title %></h1>
<p><%= article.content %></p>
<a href="/articles/<%= article._id %>/edit">time to upgrade</a>

<form action="/articles/<%= article._id %>?_method=DELETE" method="POST">
    <!-- ... -->
    <button type="submit">Supprimer</button>
  </form>
  
